<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="WeSellUsersDbContext" connectionString="Server=tcp:wesellusersdbserver.database.windows.net,1433;Initial Catalog=wesellusers;Persist Security Info=False;User ID=wavincze;Password=ProSno7&amp;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
</connectionStrings>